@model SklepSportowy.Models.Produkt
@using SklepSportowy.Helpers
@{
    ViewBag.Title = "ProduktSzczegoly";
}
<section class="sekcja-produkty floatfix">
    <h2>ProduktSzczegoly</h2>

    <div class="left">
        <img src="@Url.ImagePath(Model.Zdjecie)" />

        <h1>@Model.NazwaProduktu</h1>
        <h3>@String.Format("{0:c2}",Model.CenaProduktu)</h3>

        @* @Html.BeginForm("DodajDoKoszyka", "Koszyk", new { Model.})*@

        <a href="@Url.Action("DodajDoKoszyka","Koszyk",new { id = Model.ProduktId })" ><input type="submit" value="Do koszyka" /></a>
    </div>
    <div class="right">
        <p>
            @Model.OpisProduktu
        </p>
    </div>
    <div style="clear: both"></div>
</section>