
<ul>
    <li><a href="@Url.Action("List","Home",new { kategoriaId = 0 })">Wszystkie kategorie</a></li>
    <li><a href="@Url.Action("List","Home",new { kategoriaId = 1 })">Piłka nożna</a></li>
    <li><a href="@Url.Action("List","Home",new { kategoriaId = 2 })">Siatkówka</a></li>
    <li><a href="@Url.Action("List","Home",new { kategoriaId = 3 })">Koszykówka</a></li>
    <li><a href="@Url.Action("List","Home",new { kategoriaId = 4 })">Piłka ręczna</a></li>
    <li><a href="@Url.Action("List","Home",new { kategoriaId = 5 })">Tenis</a></li>
    <li><a href="@Url.Action("List","Home",new { kategoriaId = 6 })">Kolarstwo</a></li>
    <li><a href="@Url.Action("List","Home",new { kategoriaId = 7 })">Pływanie</a></li>
    <li><a href="@Url.Action("List","Home",new { kategoriaId = 8 })">Sporty zimowe</a></li>
    <li><a href="@Url.Action("List","Home",new { kategoriaId = 9 })">Inne</a></li>
    
    
    
    


</ul>
