@model IEnumerable<SklepSportowy.Models.Produkt>
@using SklepSportowy.Helpers
@{
    ViewBag.Title = "List";
}


<section class="sekcja-produkty">

    
    
        @foreach (var item in Model)
        {
            <div id="produkt">

                <a href="@Url.Action("ProduktSzczegoly", "Produkt", new { id = item.ProduktId})">
                    @*<img src="~/Content/Images/pilka.jpg" />*@
                    <img src="@Url.ImagePath(item.Zdjecie)"width="227" height="222" />
                    </a>
                    <a href="@Url.Action("ProduktSzczegoly", "Produkt", new { id = item.ProduktId})">
                        <h2>@item.NazwaProduktu</h2>
                       </a>
                        <h3>@String.Format("{0:C2}",item.CenaProduktu)</h3>


                      

                        <a href="@Url.Action("DodajDoKoszyka","Koszyk",new {id=item.ProduktId })"><input type="submit" value="Dodaj do koszyka" /></a>
</div>
        }

    
    

</section>
