@model SklepSportowy.ViewModel.KoszykViewModel
@using SklepSportowy.Helpers
@{
    ViewBag.Title = "Index";
}

<h2>List</h2>

<div id="koszyk">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>Ilość</th>
                
            </tr>
        </thead>
        <tbody>
           
            @foreach (var item in Model.PozycjaKoszyka)
            {
                <tr id="koszyk-wiersz-@item.Produkt.ProduktId">
                    <td><img src="@Url.ImagePath(item.Produkt.Zdjecie)"  width="127" height="122" /></td>
                    <td>@item.Produkt.NazwaProduktu</td>
                    <td>@String.Format("{0:c2}",item.Produkt.CenaProduktu)</td>
                    <td><span id="koszyk-ilosc-pozycji-@item.Produkt.ProduktId">@item.Ilosc</span></td>
                    
                    
                    <td>
                        
                            <input type="submit" class="usun-produkt" data-id="@item.Produkt.ProduktId" value="Usuń">
                        
                    </td>

                </tr>
            }
            <tr id="koszyk-empty-message" @if (Model.PozycjaKoszyka != null && Model.PozycjaKoszyka.Count > 0) {<text>class="hidden"</text> }>
                <td>Koszyk jest pusty.</td>
            </tr>
            
        </tbody>
    </table>
    <div id="cena-calkowita" style="margin-top:10px">
        <b>Razem: @String.Format("{0:c2}", Model.WartoscKoszyka)</b>
    </div>
    <div style="float:right">
       
        <a href="@Url.Action("List","Home")"><input type="submit" value="Kontynuj zakupy"></a>
        <a href="@Url.Action("Zaplac","Koszyk")"><input id="koszyk-button-zaplac" type="submit" value="Zapłać"></a>
    </div>
    
</div>
@section Scripts{


        


        @System.Web.Optimization.Scripts.Render("~/bundles/jqueryAndJqueryUI")

     <script type="text/javascript">
         $(function () {
             $(".usun-produkt").click(function () {

                 var recordDoUsuniecia = $(this).attr("data-id");

                 if (recordDoUsuniecia != '') {
                     $.post("/Koszyk/UsunZKoszyka", { "produktId": recordDoUsuniecia },
                         function (response) {
                             if (response.IloscUsuwanychProdutkow == 0) {

                                 $('#koszyk-wiersz-' + response.UsunProduktId).fadeOut('slow', function () {
                                     if (response.KoszykIloscPozycji == 0) {
                                         $("#koszyk-empty-message").removeClass("hidden");
                                     }
                                 });
                             } else {
                                 $('#koszyk-ilosc-pozycji-' + response.UsunProduktId).text(response.IloscUsuwanychProdutkow);
                             }

                             
                             $('#cena-calkowita').text(response.KoszykCenaCalkowita);
                             $('#koszyk-naglowek-ilosc-elementow').text(response.KoszykIlosc);
                         });
                     return false;
                 }
             });
         });
    </script>

    }